@charset "utf-8";
/* CSS Document */

.lista {
	font-size: 13px;
}

@media screen and (min-width: 1200px){
	.carousel-item img{
		height: 400px;
	}

	.carousel-item.active img{
		height: 400px;
	}
}

